.content {
    transition: margin-left 1.4s ease-out;
    margin-right: 120px; /* match sidebar width when visible */
}
.full-width {
    margin-left: 0; /* full width when sidebar is hidden */
}
/* Custom scrollbar styles for sidebar */
.sidebar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Thumb color */
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #1f2937; /* Track color */
}

/* Custom scrollbar styles for content */
.content {
    overflow-y: auto; /* Ensure vertical scroll */
}

.content::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.content::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Thumb color */
    border-radius: 10px;
}

.content::-webkit-scrollbar-track {
    background-color: #1f2937; /* Track color */
}

/* Firefox */
.sidebar, .content {
    scrollbar-width: thin; /* Scrollbar width */
    scrollbar-color: #4b5563 #1f2937; /* Thumb and track colors */
}
/* Custom scrollbar styles for the entire body */
body::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Thumb color */
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #1f2937; /* Track color */
}
