body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f400;
    margin: 0;
    height: 100vh; /* Ensures the body takes full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-box {
    width: 1024px; /* Set the width of the container to 720px */
    height: 768px; /* Set the height of the container to 480px */
    background: rgb(29, 29, 29); /* Dark gray background */
    display: flex;
    justify-content: center; /* Center-align children horizontally */
    align-items: center; /* Center-align children vertically */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Subtle shadow for better aesthetics */
}
.close-button {
    position: absolute;
    top: 55px;  /* Adjusted to ensure it's well placed within the container */
    right: 275px;  /* Ensures it does not stick to the very edge */
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    z-index: 10;  /* Ensure it's above other content like the iframe */
}
iframe {
    width: 100%; /* Full width of its container */
    height: 100%; /* Full height of its container */
    border: none; /* Removes default border around iframes */
    border-radius: 4px; /* Optional: adds rounded corners to the iframe */
}
